In [ ]:
class Myclass: #### machine learning
    y  = 10
    x = 5

In [ ]:
# create object
p1 =Myclass()   ## p1 is object and Myclass is class

In [ ]:
print(p1.x)
print(p1.y)

In [ ]:
# Inheritance
# polymorphism
# Abstraction
# Encapsulation

### Inheritance

In [ ]:
# single inheritance
# multiple inheritance
# multilevel inheritance
# hybrid inheritance

In [ ]:
# single inheritance

class Parent:
    father_name = "Hemant"
    mother_name = "Sunita"

class Child(Parent):
    pass
child_obj =Child()
print(child_obj.father_name)
print(child_obj.mother_name)

In [ ]:
class Parent:
    father_name = "Hemant"
    mother_name = "Sunita"

class Child(Parent):
    child_name = "Rahul"
    age = 22
child_obj =Child()
print(child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.child_name)
print(child_obj.age)

In [ ]:
# multilevel inheritance
class Grandparent:
    pass 
class Parent:
    pass
class Child:
    pass

In [ ]:
class Grandparent:
    grand_father_name = "Hemant"
    grand_mother_name = "Sunita"
    age = 50

class Parent(Grandparent):
    father_name = "Ramlal"
    mother_name = "Rani"
    age = 40


class Child(Parent):
    child_name = "Rahul"
    age = 22

child_obj = Child()

In [ ]:
print(f"grand father name {child_obj.grand_father_name}")
print(f" grand mother name {child_obj.grand_mother_name}")
print(child_obj.father_name)
print(child_obj.mother_name)
print(child_obj.child_name)
print(child_obj.age)

In [ ]:
# multiple inheritance
class A:
    pass 
class B:
    pass

class C(A,B):
    pass

In [ ]:
class Parent:
    father_name = "Hemant"
    mother_name = "Sunita" 
class Uncle:
    uncle_name = "Ramlal"
    aunt_name = "Rani"
    uncle_property = "house"

class Child(Parent,Uncle):
    pass

child_obj=Child()
child_obj.father_name
child_obj.uncle_name
child_obj.aunt_name
child_obj.uncle_property

In [ ]:
class Clc:
    def  add(self,a,b):
        return a+b
    
    def multiply(self,a,b):
        return a*b
    

obj=Clc()
print("Addition:-",obj.add(10, 20))

In [ ]:
print("Multiplication:-",obj.multiply(10, 20))

In [ ]:
class Student:
    a = 10 ###  class variable
    def set_data(self,name,age):
        self.name=name ### instance variable
        self.age=age ### instance variable


    def display(self):
        print(f"student name:-{self.name}, and student Age:-{self.age}")
        # self.age


obj =Student()

obj.set_data("Ritik", 22)

In [ ]:
obj.display()

In [ ]:
### Circle Area

# class Circle:
    # method  set_redius
    # method  get_area

In [ ]:
class Classname:
    def __init__(self, param1, param2):
        pass

In [ ]:
class Student:
    def __init__(self, name , roll):
        pass
    def display(self):
        pass

s1=Student("name",45)
s1.display()

In [ ]:
class Student:
    def __init__(self, name , roll):
        self.name=name
        self.roll=roll
    def display(self):
        print(f"student name:-{self.name}, and student roll:-{self.roll}")

s1=Student(name= "Ritik", roll=22)
s1.display()

In [ ]:
class Demo:
    def __init__(self):
        self.a=10
        self.b=20
        
        print("hello hii kese ho ")

obj =Demo()

In [ ]:
# class Car:
#     def __init__(self,n):
#         self.name=n

#     def year(self, y):
#         self.year=y
#     def price(self,p):
#         self.price=p
#     def disp(self):
#         print(self.name)
#         print(self.year)
#         print(self.price)

# x=Car()
# # x.Brand("audi")
# # x.year(2005)
# # x.price(2000000)
# # x.disp()

In [ ]:
class Car:
    def __init__(self,Company,C_name,C_buy):
        self.Company=Company
        self.C_name = C_name
        self.C_buy = C_buy
        print("Company",Company)
        print("Car name",C_name)
        print("Car buy",C_buy)
obj = Car("Maruti","Dizire",2000)

##### Encapsulation in Python

In [34]:
class Employes:
    def __init__(self, name , salary ):
        self.name= name ## public variable
        self.__salary=salary # private variable
    def show_info(self):
        print(f"name:-{self.name} and salary:-{self.__salary}")


        ###getter method 
    def get_salary(self):
        return self.__salary
    
    ## setter method
    def set_salary(self, amount):
        if amount>0:
    
            self.__salary=amount
        else:
            print("invalid salary")
obj=Employes(name = "Ritik", salary = 50000)

In [35]:
obj.show_info()

name:-Ritik and salary:-50000

In [36]:
obj.get_salary()

50000

In [37]:
obj.set_salary(60000)

In [38]:
obj.show_info()

name:-Ritik and salary:-60000

In [39]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print(f"student name:-{self.name}, and student Age:-{self.age}")

Student("Ritik",22).display()

student name:-Ritik, and student Age:-22

In [44]:
class Student:
    def __init__(self, name ):
        self._name = name 
    def display(self):
        print(f"student name:-{self._name}")
s1=Student("Ritik")# print(Student("Ritik")._name)

s1.display()

student name:-Ritik

In [53]:
class Student:
    def __init__(self, name ):
        self.__name = name ### private variable
    def display(self):
        print(f"student name:-{self.__name}")
    def set_name(self):
        return self.__name



s1=Student("Ritik")

In [54]:
s1.display()

student name:-Ritik

In [55]:
s1.set_name()

'Ritik'

In [52]:
# print()